################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/YMM4_Test_Plugin.slnx
/bin/Debug/net10.0-windows10.0.19041.0/ar-sa
/bin/Debug/net10.0-windows10.0.19041.0/ar-sa/YukkuriMovieMaker.Plugin.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/AvalonDock.dll
/bin/Debug/net10.0-windows10.0.19041.0/AvalonDock.pdb
/bin/Debug/net10.0-windows10.0.19041.0/ca-ES
/bin/Debug/net10.0-windows10.0.19041.0/ca-ES/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/cs-CZ
/bin/Debug/net10.0-windows10.0.19041.0/cs-CZ/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/de
/bin/Debug/net10.0-windows10.0.19041.0/de/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/en-us
/bin/Debug/net10.0-windows10.0.19041.0/en-us/YukkuriMovieMaker.Plugin.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/es
/bin/Debug/net10.0-windows10.0.19041.0/es/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/es/System.Windows.Forms.Primitives.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/es/System.Windows.Forms.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/es-es
/bin/Debug/net10.0-windows10.0.19041.0/es-es/YukkuriMovieMaker.Plugin.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ExtendedNumerics.BigDecimal.dll
/bin/Debug/net10.0-windows10.0.19041.0/fr
/bin/Debug/net10.0-windows10.0.19041.0/fr/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/hu
/bin/Debug/net10.0-windows10.0.19041.0/hu/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ICSharpCode.AvalonEdit.dll
/bin/Debug/net10.0-windows10.0.19041.0/id-id
/bin/Debug/net10.0-windows10.0.19041.0/id-id/YukkuriMovieMaker.Plugin.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/it
/bin/Debug/net10.0-windows10.0.19041.0/it/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ja
/bin/Debug/net10.0-windows10.0.19041.0/ja/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ja/System.Windows.Forms.Primitives.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ja/System.Windows.Forms.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ko
/bin/Debug/net10.0-windows10.0.19041.0/ko/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ko/System.Windows.Forms.Primitives.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ko/System.Windows.Forms.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ko-kr
/bin/Debug/net10.0-windows10.0.19041.0/ko-kr/YukkuriMovieMaker.Plugin.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/LlmTornado.dll
/bin/Debug/net10.0-windows10.0.19041.0/MathNet.Numerics.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Configuration.Abstractions.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Configuration.Binder.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Configuration.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.DependencyInjection.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Logging.Abstractions.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Logging.Configuration.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Logging.Console.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Logging.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Logging.TraceSource.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Options.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Extensions.Primitives.dll
/bin/Debug/net10.0-windows10.0.19041.0/Microsoft.Xaml.Behaviors.dll
/bin/Debug/net10.0-windows10.0.19041.0/NAudio.Core.dll
/bin/Debug/net10.0-windows10.0.19041.0/NAudio.Wasapi.dll
/bin/Debug/net10.0-windows10.0.19041.0/NCalc.Core.dll
/bin/Debug/net10.0-windows10.0.19041.0/NCalc.Sync.dll
/bin/Debug/net10.0-windows10.0.19041.0/Newtonsoft.Json.dll
/bin/Debug/net10.0-windows10.0.19041.0/nl-BE
/bin/Debug/net10.0-windows10.0.19041.0/nl-BE/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/Parlot.dll
/bin/Debug/net10.0-windows10.0.19041.0/pl
/bin/Debug/net10.0-windows10.0.19041.0/pl/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/pt
/bin/Debug/net10.0-windows10.0.19041.0/pt/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ro
/bin/Debug/net10.0-windows10.0.19041.0/ro/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/ru
/bin/Debug/net10.0-windows10.0.19041.0/ru/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/SharpGen.Runtime.COM.dll
/bin/Debug/net10.0-windows10.0.19041.0/SharpGen.Runtime.dll
/bin/Debug/net10.0-windows10.0.19041.0/SoundTouch.Net.dll
/bin/Debug/net10.0-windows10.0.19041.0/sv
/bin/Debug/net10.0-windows10.0.19041.0/sv/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/System.Management.dll
/bin/Debug/net10.0-windows10.0.19041.0/System.ServiceProcess.ServiceController.dll
/bin/Debug/net10.0-windows10.0.19041.0/System.Windows.Forms.dll
/bin/Debug/net10.0-windows10.0.19041.0/System.Windows.Forms.Primitives.dll
/bin/Debug/net10.0-windows10.0.19041.0/Vortice.Direct2D1.dll
/bin/Debug/net10.0-windows10.0.19041.0/Vortice.Direct3D11.dll
/bin/Debug/net10.0-windows10.0.19041.0/Vortice.DirectX.dll
/bin/Debug/net10.0-windows10.0.19041.0/Vortice.DXGI.dll
/bin/Debug/net10.0-windows10.0.19041.0/Vortice.Mathematics.dll
/bin/Debug/net10.0-windows10.0.19041.0/Vortice.MediaFoundation.dll
/bin/Debug/net10.0-windows10.0.19041.0/YamlDotNet.dll
/bin/Debug/net10.0-windows10.0.19041.0/zh-cn
/bin/Debug/net10.0-windows10.0.19041.0/zh-cn/YukkuriMovieMaker.Plugin.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/zh-Hans
/bin/Debug/net10.0-windows10.0.19041.0/zh-Hans/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/zh-Hant
/bin/Debug/net10.0-windows10.0.19041.0/zh-Hant/AvalonDock.resources.dll
/bin/Debug/net10.0-windows10.0.19041.0/zh-tw
/bin/Debug/net10.0-windows10.0.19041.0/zh-tw/YukkuriMovieMaker.Plugin.resources.dll
/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
*.json
/bin/Debug/net10.0-windows10.0.19041.0/YukkuriMovieMaker.Controls.dll
/bin/Debug/net10.0-windows10.0.19041.0/YukkuriMovieMaker.Controls.pdb
/bin/Debug/net10.0-windows10.0.19041.0/YukkuriMovieMaker.Plugin.dll
/bin/Debug/net10.0-windows10.0.19041.0/YukkuriMovieMaker.Plugin.pdb
